
.container {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 20px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
