<div class="container text-center">
</div>
<div class="container">
  <div class="row">
    <div class="search-hero" class="col-md-6">
      <input  class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for post">
    </div>
    <div class="search-hero" class="col-md-6">
      <button class="col-md-6" class="login " (click)="searchTextchange()" >search</button>
    </div>
  </div>
</div>
