<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-md-11">
          <span>
            <span class="subreddit-text"><a class="post-url" href="">{{post.subredditName}}</a></span>
            <span> . Posted
              <span> {{post.duration}} </span>
              by
              <a *ngIf="post.userName === null" class="username" href="">Anonymous</a>
              <a *ngIf="post.userName != null" class="username" href="">{{post.userName}}</a>
            </span>
          </span>
          <hr />
          <a routerLink="post.url" class="post-title">{{post.postName}}</a>
          <div>
            <p class="post-text" [innerHtml]="post.description"></p>
          </div>
          <div class="post-comment">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group" *ngIf="!isEditComment">
                <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
              </div>
              <button *ngIf="!isEditComment" type="submit" class="login float-right">Comment</button>
            </form>
            <div *ngIf="isEditComment"  class="form-group" >
              <textarea class="form-control"  [(ngModel)]="editText" ></textarea>
              <button class="login float-right" (click)="saveEdit()">Save</button>
            </div>
          </div>
          <div style="margin-top: 60px;" *ngFor="let comment of comments">
            <div *ngIf="comment.userName === currentUser" ngbDropdown >
              <button type="button" id="dropdownBasic1" ngbDropdownToggle style="border: none; margin-left: 100%"></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="deleteComment(comment.id)" ngbDropdownItem>Delete Comment</button>
                <button (click)="UpdateComment(comment)" ngbDropdownItem>Edit Comment</button>
              </div>
            </div>
            <div class="comment">
              <div class="username">
                <a routerLink="/user/comment.username">{{comment.userName}}</a>
              </div>
              <div>
                <p>{{comment.duration}}</p>
              </div>
              <b>{{comment.text}}</b>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
      <app-subreddit-side-bar></app-subreddit-side-bar>
    </div>
  </div>
</div>
